@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Oswald:wght@200&display=swap');

:root{
  --primary : #113951;
  --secondary : #477187;
  --dark : black;
  --light : #6F8FA2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alumni Sans Pinstripe', 'sans-serif';

}
body{
  background-color: var(--light);
}
.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.calculator{
  width: 100%;
   max-width:600px;
  /*max-height: 80vh; */
  background-color: var(--light);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

}
.display{
  padding:16px;
  text-align: right;
  background-color:var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 1000;
}
span{
  font-size: 14px;
  color: gray;
}
button{
  appearance: none;
border: none;
outline: none;
color: white;
font-size: 20px;
padding: 16px;
cursor: pointer;
transition: 0.4s;
}

button:hover{
  opacity: 0.7;

}
.operators{
  display: flex;
}
.operators button{
  flex : 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;

}
.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  /* height: 20vh; */
  background-color:#032336;
}